<!-- 作为根容器 -->
<!-- [class.myapp-dark-theme]当模板表达式的求值结果是真值时，Angular 会添加这个类，反之则移除它。 -->
<mat-sidenav-container [class.myapp-dark-theme]="darkTheme">
    <!-- 侧边栏 #sidenav为模板引用变量,来引用mat-sidenav, mode属性默认为over,参考官网-->
    <mat-sidenav #sidenav mode="over">     
      <app-sidebar></app-sidebar>
    </mat-sidenav>
  <div class="site">
    <header>
      <!-- 监听header.component.ts中@Output传递的toggle事件 -->
      <app-header (toggle)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>

</mat-sidenav-container>
